body {
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  cursor: default;
}

div.header {
  position: absolute;
  top: 60px;
  left: 437px;
  width: 142px;
  height: 42px;
  border: 4px solid #707070;
  border-radius: 16px 0px;
  opacity: 1;
  margin: 0px;
}

div.header h2 {
  position: absolute;
  top: 8px;
  left: 21px;
  width: 105px;
  height: 27px;
  text-align: left;
  font: normal normal normal 20px/27px Segoe UI;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
  margin: 0px;
}

.pagination button {
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 50%;
  border-style: none;
  outline: none;
  background: #000000 0% 0% no-repeat padding-box;
}

.pagination button:hover {
  background: #04b69d 0% 0% no-repeat padding-box;
  color: black;
  transition: 0.3s;
  border-style: none;
  cursor: pointer;
}

.pagination button:active {
  outline: none;
}

.pagination button.previous {
  position: absolute;
  top: 275px;
  left: 77px;
  width: 20px;
  height: 20px;
  opacity: 1;
}

.pagination button.next {
  position: absolute;
  top: 275px;
  left: 927px;
  width: 20px;
  height: 20px;
  opacity: 1;
}

.viewImage img {
  width: 250px;
  height: 250px;
}

img.img1 {
  position: absolute;
  top: 160px;
  left: 117px;
  background: #bcbcbc 0% 0% no-repeat padding-box;
  opacity: 1;
}

img.img2 {
  position: absolute;
  top: 160px;
  left: 387px;
  background: #bcbcbc 0% 0% no-repeat padding-box;
  opacity: 1;
}

img.img3 {
  position: absolute;
  top: 160px;
  left: 657px;
  background: #bcbcbc 0% 0% no-repeat padding-box;
  opacity: 1;
}

img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.FileInput input[type="file"] {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.FileInput label {
  position: absolute;
  top: 460px;
  left: 440px;
  width: 60px;
  height: 27px;
  text-align: left;
  font: normal normal bold 20px/27px Segoe UI;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
  padding: 7.5px 38.5px 7.5px 38.5px;
  border: 4px solid #707070;
  cursor: pointer;
}

.FileInput label:hover {
  background-color: #e8e8e8;
}

div.name1 {
  position: absolute;
  top: 373px;
  left: 259px;
  width: 98px;
  height: 27px;
  text-align: left;
  font: normal normal normal 20px/27px Segoe UI;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

div.name2 {
  position: absolute;
  top: 373px;
  left: 529px;
  width: 98px;
  height: 27px;
  text-align: left;
  font: normal normal normal 20px/27px Segoe UI;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin:0px;
}

div.name3 {
  position: absolute;
  top: 373px;
  left: 799px;
  width: 98px;
  height: 27px;
  text-align: left;
  font: normal normal normal 20px/27px Segoe UI;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

div.fileName {
  cursor: default;
}

/*MQ*/
@media only screen and (max-width: 1024px) {
  div.header {
    left: 310px;
  }

  div.header h2 {
    left: 20px;
  }

  .pagination button.previous {
    top: 262px;
    left: 135px;
  }

  .pagination button.next {
    top: 262px;
    left: 615px;
  }

  .viewImage img.img1 {
    width: 200px;
    height: 200px;
    top: 160px;
    left: 175px;
  }

  .viewImage img.img2 {
    width: 200px;
    height: 200px;
    top: 160px;
    left: 395px;
  }

  .viewImage img.img3 {
    display: none;
  }

  .FileInput label {
    top: 410px;
    left: 312px;
  }

  div .fileName .name1 {
    top: 323px;
    left: 267px;
    width: 98px;
    height: 27px;
  }

  div .fileName .name2 {
    top: 323px;
    left: 487px;
    width: 98px;
    height: 27px;
  }

  div .fileName .name3 {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  div.header {
    left: 198px;
  }

  div.header h2 {
    left: 20px;
  }

  .pagination button.previous {
    top: 229px;
    left: 158px;
  }

  .pagination button.next {
    top: 229px;
    left: 368px;
  }

  .viewImage img.img1 {
    top: 160px;
    left: 198px;
    width: 150px;
    height: 150px;
  }

  .viewImage img.img3 {
    display: none;
  }

  .viewImage img.img2 {
    display: none;
  }

  .FileInput label {
    top: 360px;
    left: 200px;
  }

  div .fileName .name1 {
    top: 286px;
    left: 275px;
    width: 68px;
    height: 19px;
  }

  div .fileName .name2 {
    display: none;
  }

  div .fileName .name3 {
    display: none;
  }
}
